#header {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #abe9eb;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");;
}

#header img {
  position: relative;
  display: block;  
  margin-left: auto;
  margin-right: auto;
}

#header h2 {
  text-align: center;
}