nav {
  display: flex;
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  padding: 3%;
  z-index: 9999;
  justify-content: space-between;
  align-items: center;
  background-color: #4056A1;
  color: #f4f1ec;
}

nav .logo {
  font-family: bungee;
  font-size: 1.5em;
}

nav .right-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav .right-side .text {
  align-self: center;  
}

#toggle {
  background-color: #4056A1;
  border-radius: 5px;
  border-width: .2em;
  margin-left: .2em;
  font-family: bungee;
  color: #f4f1ec;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.5;
}

#toggle:hover {
  animation: none;
  opacity: 1;
  border-width: .2em;
  border-color: #FFFF;
}

@-webkit-keyframes pulsate {
  0% { 
      opacity: 0.5;
  }
  50% { 
      border-width: .2em;
      border-color: #f4f1ec;
      opacity: 1.0;
  }
  100% { 
      opacity: 0.5;
  }
}