nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  z-index: 9999 ;
  background-color: #4056A1;
  color: #FFFF;
}

span {
  float: left;
  padding: 1.5em;
  font-family: bungee, sans-serif; 
}