nav {
  padding: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
  height: 120px;
  width: 100%;
  z-index: 9999 ;
  background-color: #4056A1;
  color: #FFFF;
}

.logo {
  font-family: bungee;
}

nav button {
  margin-left: .2em;
  border-width: .2em;
  border-color: #4056A1;
  font-family: bungee;
  color: #FFFF;
  background-color: #4056A1;
  float: right;
}
span.rightside {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-between;
  align-items: center;
}
nav button:hover {
  animation: none;
  opacity: 1;
  border-width: .2em;
  border-color: #FFFF;
}

.pulse {
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.5; 
}

@-webkit-keyframes pulsate {
  0% { 
      opacity: 0.5;
  }
  50% { 
      border-width: .2em;
      border-color: #FFFF;
      opacity: 1.0;
  }
  100% { 
      opacity: 0.5;
  }
}