.new-tweet {
  position: relative;
  display: none;
  height: 6.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.new-tweet .counter {
  float: right;
  margin: 0;
}


.new-tweet textarea {
  background-color: #f4f1ec;
  width: 100%;
  border-width: 0 0 .2em;
  color: #545149;
  font-weight: bold;
  height: auto;
  padding-top: .8em;
}

.new-tweet input {
  font-family: bungee;
  float: left;
  bottom: 0;
  background-color: #4056A1;
  border: 0;
  color: #f4f1ec;
}
