.new-tweet {
  height: 200px;
}

form {
  width: 90%;
  margin: auto;
}

.counter {
  float: right;
  margin: 0;
}

textarea {
  background-color: #f4f1ec;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 5px;
  color: #545149;
  font-family: source sans pro;
  font-weight: bold;
  height: 60;
  padding-top: 1em;
}

input {
  font-family: bungee;
  float: left;
  bottom: 0;
  background-color: #4056A1;
  border: 0;
  color: #f4f1ec;
}