body .all-tweets {
  position: relative;
  background-color: #f4f1ec;
}

.all-tweets .tweet {
  margin-top: 1em;
  height: 9em;
  border: #545149 solid .2em;
}

.tweet:hover{
  box-shadow: 5px 7px #8aa596; 
}

.tweet:hover .handle{
  visibility: visible;
  opacity: 1;
}
.tweet-header {
  display: flex;
  align-items: center;
  margin: auto;
  width: 95%;
  top: 0;
  height: 3em;
}
.tweet-header span {
  float: left;
  margin: .5em;
}


.tweet-header img {
  width: 2em;
  height: 2em; 
  float: left;
}

.tweet-header .name {
  float: left;
}

.tweet-header .handle {
  margin-left: auto;
  visibility: hidden;
  opacity: 0;
  color: #8aa596;
}

.tweet hr {
  width: 95%;
  height: .1em;
  border:0;
  background-color: #545149;
}

.tweet-content {
  font-weight: bold;
  font-size: 1em;
}

.tweet-footer {
  font-size: .75em;
  width: 95%;
  height: 2em;
  bottom: 0;
  margin: auto;
}

.tweet-footer time {
  margin-bottom: .75em;
  float: left;
}

.tweet-footer img {
  float: right;
  width: 1em;
  height: 1em;
  margin-bottom: .5em;
}

article .tweet{
  border-style: solid;
  border-width: 5px;
  border-color: #545149;
}